{% extends "layout.html" %}

{% set pageId = "page-create-point" %}

{% block title %}
    <title>Criar um ponto de coleta</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/create-point.css">
{% endblock styles %}

{% block content %}
    {% include "partials/page-header.html" %}
    <!--Deixando dinamico-->

    <form action="">

        <h1>Cadastro do ponto de coleta</h1>

        <fieldset>
            <!--Agrupa Dados da entidade-->
            <legend>
                <h2>Dados da entidade</h2>
            </legend>

            <div class="field-group">

                <div class="field">
                    <!--Criando os campos de preenchimento-->
                    <label for="name">Nome da entidade</label>
                    <!--Nome do campo-->
                    <input type="text" name="name" required="required">
                    <!--Entrada de dados-->
                </div>

                <div class="field">
                    <!--Criando os campos de preenchimento-->
                    <label for="name">Imagem da entidade (URL)</label>
                    <!--Nome do campo-->
                    <input 
                        type="url"
                        name="image" 
                        required="required"
                        placeholder= "http://"
                    >

                    <!--Entrada de dados-->
                </div>

            </div>
            

            <div class="field-group">
                <!--Agrupa os campos-->

                <div class="field">
                    <label for="address">Endereço</label>
                    <input type="text" name="address" required="required">
                </div>

                <div class="field">
                    <label for="address2">Número/Complemento</label>
                    <input type="text" name="address2" required="required">
                </div>

            </div>

            <!---------------------------------------------------------------->

            <div class="field-group">
                <!--Agrupa os campos-->

                <div class="field">
                    <label for="state">Estado</label>
                    <select name="uf" required="required">
                        <option value="">Selecione o Estado</option>
                    </select>

                    <input type="hidden" name="state">
                    <!--Esconder o nome do estado-->
                </div>

                <div class="field">
                    <label for="city">Cidade</label>
                    <!--Só vai ser possível colocar a cidade depois do estado-->
                    <select name="city" disabled="disabled" required="required">
                        <option value="">Selecione a Cidade</option>
                    </select>

                </div>

            </div>

        </fieldset>

        <fieldset>
            <!--Agrupa itens de coleta-->
            <legend>
                <h2>Itens de coleta</h2>
                <span>Selecione um ou mais itens abaixo</span>
            </legend>

            <div class="items-grid">
                <!--Grade de itens-->
                <li data-id="1">
                    <img src="/assets/lampadas.svg" alt="Lâmpadas">
                    <span>Lâmpadas</span>
                </li>

                <li data-id="2">
                    <img src="/assets/baterias.svg" alt="Pilhas e Baterias">
                    <span>Pilhas e Baterias</span>
                </li>

                <li data-id="3">
                    <img src="/assets/papeis-papelao.svg" alt="Papéis e Papelão">
                    <span>Papéis e Papelão</span>
                </li>

                <li data-id="4">
                    <img src="/assets/eletronicos.svg" alt="Resíduos Eletrônicos">
                    <span>Resíduos Eletrônicos</span>
                </li>

                <li data-id="5">
                    <img src="/assets/organicos.svg" alt="Resíduos Orgânicos">
                    <span>Resíduos Orgânicos</span>
                </li>

                <li data-id="6">
                    <img src="/assets/oleo.svg" alt="Óleo de Cozinha">
                    <span>Óleo de Cozinha</span>
                </li>
            </div>

            <input type="hidden" name="items">

        </fieldset>

        <button type="submit">Cadastrar ponto de coleta</button>
    </form>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/create-point.js"></script>
{% endblock scripts %}

</body>
</html>